:root {
    --primari-text-color: #434455;
    --title-text-color: #2E2F42;
    --accent-color: #4D5AE5;
    --accent-focus-color: #404BBF;
    --text-white-color: #FFFFFF;
    --light-mode-color: #F4F4FD;
    --accent-cornflower-color:#E7E9FC;
}


body {
    font-family: 'Roboto';
}


/* reset styles */
.container { 
    width:  1158px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}


h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button{
cursor: pointer;
}





/* header  */

.header-wrap ,
.cont-nav {
    display: flex;
    align-items: center;
    
}

.page-header {
    background-color: var(--text-white-oclor);
    padding-top: 24px;
    padding-bottom: 24px;
    border: 1px solid #E7E9FC;
}
.page-header .logo {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.logo-web {
    color: var(--accent-color);
}
.logo-studio {
    color: var(--title-text-color);
} 

.link {
    text-decoration: none;
}




/* site-nav */
.site-nav {
    display: flex;
    margin-left: 76px;

}

.site-nav  .item:not(:last-child) {
    margin-right:  40px;
}

.site-nav .link {
    display: block;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-focus-color);
}

/* contacts */
.contacts {
    display: flex;
    margin-left: auto;   
}

.contacts .item + .item {
    margin-left: 40px;
}


.contacts .link {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primari-text-color);
}
.contacts .link:hover,
.contacts .link:focus {
    color: var(--accent-focus-color);
    
}





/* main-section */
/* hero */

.hero-section {
    padding-top: 188px;
    padding-bottom: 188px;
    
}

.hero {
    background-color: var(--title-text-color);
    margin-left: auto;
    margin-right: auto;
}
.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    max-width: 494px;
    margin: auto;
    margin-bottom: 48px;
    color:var(--text-white-color);
}

.btn-color {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    text-align: center;
    align-items: center;
    letter-spacing: 0.04em;
    color: var(--text-white-color);
    background: var(--accent-color);
}

.btn-primary {
    padding: 16px 32px;
    margin-left: auto;
    margin-right:auto ;
}

.btn-color:hover,
.btn-color:focus {
    color:var(--text-white-color);
    background: var(--accent-focus-color);
}


 /* section */
    .section-features {
        padding-top: 120px;
        padding-bottom: 120px ;
    }

    .uor-features {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        
    }

    .item-features {
        flex-basis: calc((100% - 3 * 24px) /4);
    }

/* uor-features */
.uor-features .title {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8px;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
} 
.uor-features .text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primari-text-color);
}

/* section */
/* What are we doing */


.photo-applications {
    padding-top: 72px;
    padding-bottom: 120px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
}

.photo-list {
    flex-basis: calc((100% - 2 * 24px) /3);
}

.section-title { 
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}


/* our-team */


.team {
    
background: var(--light-mode-color);
}
.team-photo {
    background: var(--text-white-color);
}
.section-team { 
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--title-text-color);

}

.title-name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}
.job-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primari-text-color);
}

/* portfolio-site */   

/* Section with buttons */
.button-title {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--accent-color);
    border: 1px solid var(--accent-cornflower-color);
    border-radius: 4px;
    cursor: pointer;
}
.button-title:hover,
.button-title:focus {
    color: var(--text-white-color);
    background: var(--accent-focus-color);
}
/* portfolio-site */  

.portfolio-site .title {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 20px;
    line-height: 0.83;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}
.portfolio-site .services{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primari-text-color);
}

/* page-footer */
.page-footer {
    background-color: var(--title-text-color);
}
.logo-web {
    color: var(--accent-color);
    font-size: 18px;
}
.color-studio {
    color: var(--light-mode-color);
    font-size: 18px;
}
.footer-title {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--accent-cornflower-color);
}




