  body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
  }
  a {
    text-decoration: none;
  }

  ul, ol {
    list-style: none;
  }
  
.logo{
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-part {
    color: #2E2F42;
}

.nav-link {
   color:  #2E2F42;;
   font-size: 16px;
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0.02em;
}

   .nav-link:hover,
   .nav-link:focus {
   color: #404BBF;
}


.address {
    font-style: normal;
}

.contact-link {
    color:  #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.contact-link:hover,
.contact-link:focus{
    color:  #404BBF;
}

/* section-hero*/
  .hero {
    background-color: #2E2F42;
  }

   .title-hero {
    font-weight: 700;
      font-size: 56px;
      line-height: 1.07;
      letter-spacing: 0.02em;
      text-align: center;
      color: #fff;
   }

   .button-hero {
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.04em;
      color: #fff;
      background: #4d5ae5;
      cursor: pointer;
   }

     .button-hero:hover,
     .button-hero:focus{
      background-color: #404bbf;
     }

     /* section-adventages */

.subtitle-adventages {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.text-adventages {
  font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* section-team*/
.section-team{
  background-color: #F4F4FD;
}
.title-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}
.item-team{
  background-color: #FFFFFF;
}
.subtitle-team {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.text-discription {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* section-portfolio */

.title-portfolio {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}

.subtitle-portfolio {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.desc-portfolio {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* footer */
.footer {
     background-color: #2e2f42;
}

.logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-second{
   color: #f4f4fd;
}

.text-footer{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
  }

          